@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(#0F2027, #203A43, #2C5364);
}

.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}

.container .form {
  margin-top: 30px;
}

.form .input-box {
  width: 100%;
  margin-top: 20px;
}

.input-box { /* Group related styles */
  label {
    color: #333;
  }
  input,
  .select-box { /* Target both elements */
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0 15px;
  }
  input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
}

.form .column {
  display: flex;
  column-gap: 15px;
}

.form .gender {
  margin-top: 20px;
}

.gender label {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.form button {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: linear-gradient(to right, #43C6AC, #191654);
  }
  
  .form button:hover {
    background: rgb(88, 56, 250);
  }
  
  @media screen and (max-width: 500px) {
    .form .column {
      flex-wrap: wrap;
    }
    .form .gender {
      row-gap: 15px;
    }
  }